.DS_Store
/*
!.gitconfig
!.gitignore

!.brew-install

!/.config
/.config/*
!/.config/tmuxinator
!/.config/oh-my-zsh
!.tmux.conf

!.oh-my-zsh

!/.vim
/.vim/.netrwhist
!/.vim/plugged
!/.vim/autoload
!.vimrc

!.zshrc
