[submodule ".vim/plugged/night-owl.vim"]
	path = .vim/plugged/night-owl.vim
	url = git@github.com:haishanh/night-owl.vim.git
[submodule ".vim/plugged/spaceduck"]
	path = .vim/plugged/spaceduck
	url = git@github.com:pineapplegiant/spaceduck.git
[submodule ".vim/plugged/vim-enfocado"]
	path = .vim/plugged/vim-enfocado
	url = git@github.com:wuelnerdotexe/vim-enfocado.git
[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = git@github.com:ohmyzsh/ohmyzsh.git
	ignore = all
[submodule ".vim/plugged/vim-easy-align"]
	path = .vim/plugged/vim-easy-align
	url = git@github.com:junegunn/vim-easy-align.git
[submodule ".vim/plugged/vim-fugitive"]
	path = .vim/plugged/vim-fugitive
	url = git@github.com:tpope/vim-fugitive
