/*

!.gitconfig
!.gitconfig_local
!.githooks/
!.gitignore
!.gitignore_global

!.brew-install

!/.config
/.config/*
!/.config/iterm2
/.config/iterm2/*
!/.config/iterm2/settings
!/.config/oh-my-zsh
!/.config/tmuxinator
!.tmux.conf

!.oh-my-zsh
!.omzrc

!/.vim
/.vim/.netrwhist
!/.vim/plugged
!/.vim/autoload
!.vimrc

!.zshrc
