/*

!.gitconfig
!.gitconfig_local
!.githooks/
!.gitignore
!.gitignore_global

!/.config
/.config/*
!/.config/iterm2
/.config/iterm2/*
!/.config/iterm2/settings
!/.config/nvim
!/.config/oh-my-zsh
!/.config/tmuxinator
!.tmux.conf

!.oh-my-zsh

!/.vim
/.vim/*
!/.vim/plugged
!.vimrc

!.zshrc

!scripts/
